# Ignore Visual Studio cache/options directory
.vs/
.vscode/
bin/
obj/
.net/
*.suo
*.user
*.userosscache
*.sln.docstates
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
.nuget/
_ReSharper*/
*.DotSettings.user
*.apk
*.aab
local.properties
.idea/
*.iml
*.swp
*.swo
*~
.DS_Store
Thumbs.db
*.dll
*.pdb
packages/
.packages/
emulator_snapshots/
*.class
gen/
res/